// basic colors
$primary-color: #118ab2;
$secondary-color: #283747;
$third-color: #283747;

// basic font color
$primary-font-color: #f1faee;

// size of containers
$xs: 576px; // less then this value
$sm: 768px; // more than xs
$lg: 992px; // more than sm 
$xl: 1200px; // more than lg 
$xxl: 1600px; // more than 1600