.default-form-label{
    font-size: 13px;
    display: flex;
    color: rgba(0,0,0,0.6);
}

.default-form-label-required{
    font-size: 13px;
    display: flex;
    gap: 5px;
    color: rgba(0,0,0,0.6);

    &::after{
        color: red;
        content: "*";
        font-size: 14px;
        display: block;    
    }
}