@import "../../../../styles/variables";

.header-aliet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    
    height: 53px;
    width: 100%;
    background: $primary-color;
    color: $primary-font-color;
    font-size: 12px;

    & .nav-aliet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 12px;
        padding-right: 12px;
        width: 1200px;
        height: 100%;
        
        & .nav-icon { 
            width: 134px;
            height: 34px;
            background: white;

            @media screen and (max-width: $lg) {
                width: 60px;
            }
        }

        & .nav-icon-menu { 
            display: none;
            font-size: 25px !important;
            cursor: pointer;

            @media screen and (max-width: $lg) {
                display: block;
            }
        }

        & .nav-search-input-content {
            width: 100%;
            max-width: 100%;
            box-shadow: 0 1px 2px 0 RGB(0 0 0 / 20%);

            input:focus{
                outline: none;
                box-shadow: none;
                border: none;
            }

            input { 
                width: 100%;
                border-radius: 1px;
                height: 36px;
                border: none;
            }

            .ant-input-group-addon { 
                border: none  !important;
            }

            .ant-btn {
                border: none  !important;
                height: 36px;
                overflow: hidden;
            }

            @media screen and (min-width: $lg) {
                max-width: 598px;
            }
        }

        & .nav-user-panel-list {
            display: flex;
            align-items: flex-end;
            gap: 15px;
            list-style: none;
            height: 53px;
            width: 300px;
            padding: 0px;
 
            white-space: nowrap;

            & .user-panel-list-item { 
                font-size: 14px;
                cursor: pointer;
            }

            & .icon-cart{ 
                font-size: 22px !important;
                color: $primary-font-color !important;
            }

            @media screen and (max-width: $lg) {
                display: none;
            }
        }
    }
}

.none { 
    display: none !important;
}

.color {
    display: none;
    position: absolute;
    width: 12px;
    border : 8px solid transparent;
    border-bottom: 8px solid white;
    bottom: -14px;
    left: 5px;
}

 