@import "../../../../../styles/variables";

.menu-mobile { 
    width: 100vw;
    height: 550px;
    display: none !important;
    background: white;

    border-bottom: 1px solid #d9d9d9;
}

.menu-visible { 
    display: block !important ;

    @media screen and (min-width: $lg) {
        display: none !important;
    }
}